# Capston_Project

Phase-2

In [1]:
1- select shoeName,price from table1 where catagory = 'men';
2- select Category, COUNT(DISTINCT NoOfColors) as NumberOfColors from Table1 GROUP BY Category;
3- select ShoeName, Price from Table1 where Category = 'men' ORDER BY Price DESC LIMIT 1;
4- select ShoeName, Price from Table1 where Category = 'women' and Color = 'Black' ORDER BY Price LIMIT 1;
5- select shoeName,price from table1 where catagory = 'men';

SyntaxError: invalid syntax (1755619695.py, line 1)

Table-2

In [2]:
1- select Style, COUNT(Size) as SizeCount from Shoes GROUP BY Style;
2- select Style, GROUP_CONCAT(DISTINCT Color ORDER BY Color ASC) as AssociatedColors from Shoes GROUP BY Style;
3- select Style from Shoes GROUP BY Style having COUNT(DISTINCT Color) > 1;
4- select Color, COUNT(DISTINCT Size) as SizeCount from Shoes where Style = 'YourSpecificStyleCode' GROUP BY Color;
5- select DISTINCT Style from Shoes where Color = 'YourSpecificColor';

SyntaxError: invalid syntax (1370774742.py, line 1)

Table-3

In [ ]:
1-select ProductID, AVG(ComfortRating) as AverageComfortRating from ProductReviews where ProductID = 'YourSpecificProductID' GROUP BY ProductID;
2- select ProductID, AVG(StarRating) as AverageStarRating from ProductReviews GROUP BY ProductID having AVG(StarRating) >= 4;
3- select ProductID, COUNT(*) as ReviewCount from ProductReviews GROUP BY ProductID;
4- select ProductID from ProductRatings where DurabilityRating > 7 and QualityRating > 7 and PerformanceRating > 7;
5- select Size, AVG(ComfortRating) as AverageComfortRating from ProductReviews GROUP BY Size;

Join SQL Queries  using all 3 tables:

In [ ]:
1- select T1.ShoeName, T1.Size, T1.StarRating from Table1 as T1 inner join Table3 as T3 on T1.ShoeName = T3.ShoeName where T1.Category = 'Men' ORDER BY T1.StarRating DESC;
2- select Category, AVG(ComfortRating) as AverageComfortRating from ( select Category, ComfortRating from Table1 UNION ALL select Category, ComfortRating from Table3) as CombinedTables GROUP BY Category;
3- with CombinedTables as ( select ProductID, DurabilityRating, QualityRating, PerformanceRating from Table1 UNION ALL select ProductID, DurabilityRating, QualityRating, PerformanceRating from Table3 ) select ProductID, DurabilityRating, QualityRating, PerformanceRating from CombinedTables where DurabilityRating > (select AVG(DurabilityRating) from CombinedTables)
   OR QualityRating > (select AVG(QualityRating) from CombinedTables)
   OR PerformanceRating > (select AVG(PerformanceRating) from CombinedTables);
4- select * from Table1 where comfort_rating > (select AVG(comfort_rating)from Table3 );
5- select * from Table1 join Table2 ON Table1."Style code/Product code" = Table2."Style code/Product code";
6- select * from Products where StarRating > ( select AVG(StarRating) from Products as subquery where subquery.Size = Products.Size);
7- select ProductID,Category,ComfortRatingfrom Products P1 where ComfortRating = ( select MAX(P2.ComfortRating) from Products P2 where P2.Category = P1.Category);